:root{
    --mainColor:#FC4747;
    --blackColor:#10141E;
    --secondaryColor:#5A698F;
    --darkColor:#161D2F;
    --bookmarkColor:#847F6F;
}
html{
    font-size:16px;
}
a{
    text-decoration: none;
}
.menu{
    /* margin-left:-2; */
    right:.2%;
    z-index:2;
    height: 80px;
}
.main{
    transform: translateY(80px);
}

.userIcon,.logoutIcon{
    padding:.6rem .65rem;
}

.userIcon:hover,.logoutIcon:hover{
    background-color: var(--mainColor) !important;
    color:#fff !important;
}

.modelBg{
    background-color: rgba(255, 255, 255, 0.5);
}

.closeIcon{
    right:20px;
    top:20px;
}


.main-color{
    color:var(--mainColor);
}

.sec-color{
    color:var(--secondaryColor);
}
.bk-color{
    color:var(--blackColor);
}
.dk-color{
    color:var(--darkColor);
}

.bg-bk{
    background-color: var(--blackColor);
}

.bg-site{
    background-color: var(--mainColor);
}

.bg-form{
    background-color: #141D30;
}

.fh-l{
    font-size: 2rem;
}
.fh-ml{
    font-size: 1.5rem;
}
.fh-sm{
    font-size: 1.5rem ;
    font-weight: bold;
}

.fh-xsm{
    font-weight: bold;
    font-size:1.125rem;
}

.fb-ml{
  font-size: .9375rem;
}

.fb-sl{
    font-size: .8125rem;
  }
.p-7{
    padding:.7rem 1rem;
}

.idle-btn{
    background-color: var(--mainColor);
    color:#fff;
    border:none;
    border-radius: .4rem;
}

.idle-btn:hover,.idle-bookmark:hover{
    background-color: #fff;
    color:var(--darkColor);
}



.idle-bookmark,.idle-bookmark:active{
   background-color: var(--bookmarkColor);
   color:#fff;
}
.idle-bookmark svg{
    fill: none;
    stroke-width: 1.5;
    stroke: #fff;
}
.idle-bookmark:hover svg{ 
stroke:var(--darkColor) !important;
}
.signupWidth,.loginWidth{
    width:90%;
}

#InvalidSignUPEmail,#invalidSignPassword,#invalidRepeatPassword,.invalid{
    bottom:25%;
}

.form-control{
    background-color: transparent;
    border:none;
    font-weight: lighter;
    border-radius: 0;
    color:#fff;
    border-bottom:1px solid var(--secondaryColor);
}

.form-control::placeholder{
    font-size: .9375rem;
    color:#888E98
}

.form-control:focus{
    border-color: #fff;
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}
.linkHover:hover{
    color:var(--secondaryColor);
}

.aside{
    background-color: #141D30;
}

#Search .form-control::placeholder,#Search .form-control{
    font-size: 1.25rem;
}
#Search .form-control:focus{
    border-bottom:1px solid var(--secondaryColor)   !important ;
}

.bookmark-position{
    right:1rem;
    top:1rem;
}

.heading-position{
    left:.7rem;
    bottom:.7rem;
}

.dotPa::before,.dotPa::after{
    content: ".";
    position: absolute;
    color:white;
    font-size:.8125rem;;
    bottom:3px;
}
.dotPa::after{
    left:-10px;
}

.bookmarK{
    height: 40vh;
    
}
.dotPa::before{
    right:-10px;
}

.owl-item{
    width:calc(100%);
    display: inline-block;
}

.owl-nav{
    display: flex;
    align-items: center;
    justify-content: between;
    color:#fff;
    position: absolute;
    right:0;
    top:-4.2rem;
}

.nav-active{
    fill:#fff !important;
}

.AvaterWidth{
    width:60%;
}

#settings{
    display:none;
}

#profileInfo{
    order:-1;
}

@media screen and (min-width:567px){
    .main{
        transform: translateY(100px);
    }
    }

@media screen and (min-width:768px){
    .owl-item img{
        min-height: 200px;
        object-fit: cover;
    }

    .main{
        transform: translateY(120px);
    }
    
    
}



@media screen and (min-width:992px){
    .signupWidth,.loginWidth{
        width:50%;
    }
    .owl-item img{
        min-height: 220px;
    }

    aside{
        height: 95vh;
    }

    .AvaterWidth{
        width:90%;
    }
  
     .menu{
        right: unset;
        height: auto;
        margin-left: auto;
     }
    .main{
        transform: translateX(calc(100vw / 12)) translateY(0);
    }

    #settings{
        display:block;
    }

    #profileInfo{
        position: fixed;
        height: 95vh;
        right:0;
    }

}

@media screen and (min-width:1200px){
    .signupWidth,.loginWidth{
        width:30%;
    }   
}

