:root{
    --mainColor:#FC4747;
    --blackColor:#10141E;
    --secondaryColor:#5A698F;
    --darkColor:#161D2F;
    --bookmarkColor:#847F6F;
}
html{
    font-size:16px;
}

.main-color{
    color:var(--mainColor);
}

.sec-color{
    color:var(--secondaryColor);
}
.bk-color{
    color:var(--blackColor);
}
.dk-color{
    color:var(--darkColor);
}

.bg-bk{
    background-color: var(--blackColor);
}
.bg-form{
    background-color: #141D30;
}

.fh-l{
    font-size: 2rem;
}
.fh-ml{
    font-size: 1.5rem;
}
.fh-sm{
    font-size: 1.5rem;
    font-weight: bold;
}

.fh-xsm{
    font-weight: bold;
    font-size:1.125rem;
}

.fb-ml{
  font-size: .9375rem;
}

.fb-sl{
    font-size: .8125rem;
  }

.idle-btn{
    background-color: var(--mainColor);
    color:#fff;
}

.idle-btn:hover,.idle-bookmark:hover{
    background-color: #fff;
    color:var(--darkColor);
}

.idle-bookmark,.idle-bookmark:active{
   background-color: var(--bookmarkColor);
   color:#fff;
}

.signupWidth,.loginWidth{
    width:90%;
}

.form-control{
    background-color: transparent;
    border:none;
    border-radius: 0;
    color:#fff;
    border-bottom:1px solid var(--secondaryColor);
}

.form-control::placeholder{
    font-size: .9375rem;
    color:#888E98
}

.form-control:focus{
    border-color: #fff;
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}
.linkHover:hover{
    color:var(--secondaryColor);
}

.aside{
    background-color: #141D30;
}
@media screen and (min-width:992px){
    .signupWidth,.loginWidth{
        width:50%;
    }
}

@media screen and (min-width:1200px){
    .signupWidth,.loginWidth{
        width:40%;
    }
}

